<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Londrina+Shadow&family=Rampart+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
.none{
    display: none;
}
    .middle {
        text-align: center;
        font-size: larger;
        font-weight: bolder;
    }
    #chatname{
        margin: 0 auto;
        margin-top: 90px;
        width: 50%;
        color: white;
        font-family: 'Press Start 2P', cursive;
        font-size:x-large;
        overflow-x: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; 
    }
    #chatname::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
    #memberamount{
        margin: 0 auto;
        margin-top: 120px;
        width: 50%;
        color: white;
        font-family: 'Press Start 2P', cursive;
        font-size:x-large;
        overflow-x: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; 
    }
    #memberamount::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
    #deleteuser{
        width: 100%;
        height: 15%;
        display: block;
        margin-top: -17px;
    }
    .users{
        overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    overflow-y: auto; 
    overflow-x: auto; 
    width: 100%;
    height:20%;
    margin-top: 10px;
    }
    #users::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
    .hamburger{
        display: none;
        width: 90px;
        height: 40px;
        background-color: transparent;
        border: 0;
        margin-top: 1px;
        position: absolute;
       right:0px;
    }
    .hbuttons{
        background-color:rgb(136, 130, 130); 
        text-align: center;
        display: none; 
    }
    li{
        display: block;
        margin:0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    img{
        width:90px;
        height:40px;
    }
    #buttons{
        display: block;
        font-weight: bolder;
        margin-left: 100px;
    }
    #login,#create{
        margin: 0;
        position: absolute;
        left: 50%;
        margin-top: 30px;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
     #form{
        margin: 0 auto;
        margin-bottom: 200px;
    }
    #deneme{
        color: white;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    #title{
        color: white;
        text-align: center;
        font-weight: bolder;
    }
    .shadow{
        justify-content: left;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    }
    .white{
        color: whitesmoke;
        width: 25%;
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
        font-family: 'Press Start 2P', cursive;
        font-size:medium;
    }
    .create-room{
        display: none;
        background-color: black;
        width: 95%;
        height: 500px;
        margin:0 auto;
        margin-top:10%;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .create-room1{
        display: none;
        background-color: black;
        width: 95%;
        height: 500px;
        margin:0 auto;
        margin-top:10%;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    #titlebar{
        /*display: flex;*/
        display: none;
        width: 80%;
        height: 60px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0;
        border: 5px;
        border-style: solid solid none solid;
        background-color: white;
        align-items: center;
    }
    #chat{
        /*display: flex;*/
        display: none;
        width: 80%;
        height: 550px;
        margin: 0 auto;
        /*margin-top: 50px;*/
        /*border: solid 5px;*/
        /*border-radius: 25px;*/
        background-color: white;
    }
    #isimler{
        background-color: white;
        flex-basis: 30%;
        width: 35%;
        border: solid 5px black;
        border-right: solid 2px black;
        flex-direction: column;
        /*border-radius: 25px;*/
        /*display: none;*/
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #chatscreen{
        width: 65%;
        flex-basis: 70%;
        /*border: solid 1px hotpink;*/
    }
    #chatitself{
        border: solid 5px black;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        /*border-radius: 25px;*/
        background-color: rgba(0, 0, 0, 0.3);
    }
    #limessage{
        float: left;
        width: 90%;
        padding-top: 0px;
    }
    #lisend{
        float: left;
        padding-top: 0px;
        width: 10%;
    }
    #chatword{
        font-family: 'Londrina Shadow', cursive;  
        font-size: 50px; 
        align-self:center;
        margin-top: 15px; 
        width:82%;
        overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    #chatword::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
@media  screen and (max-width:1175px) {
    #chatword{
        width: 80%
    }
    }
    @media  screen and (max-width:1358px) {
        #buttons{
            margin-left: 80px;
        }
    }
    @media  screen and (max-width:1250px) {
        #buttons{
            margin-left: 70px;
        }
        #limessage{
            width: 85%;
        }
        #lisend{
            width: 15%;
        }
    }
    @media  screen and (max-width:1210px) {
        #buttons{
            margin-left: 60px;
        }
    }
    @media  screen and (max-width:1160px) {
        #buttons{
            margin-left: 50px;
        }
    }
    @media  screen and (max-width:1120px) {
        #buttons{
            margin-left: 40px;
        }
    }
    @media  screen and (max-width:1080px) {
        #buttons{
            margin-left: 30px;
        }
    }
    @media  screen and (max-width:1035px) {
        #buttons{
            margin-left: 20px;
        }
        #chatword{
        width: 76%
    }
    }
    @media  screen and (max-width:990px) {
        .hamburger{
            display: block;
        }
        #buttons{
            display: none;
        }
    }
    @media screen and (min-width:660px) {
    .create-room{
        width: 75%;
    }
    .create-room1{
        width: 75%;
    }
    }
    @media screen and (min-width:860px) {
    .create-room{
        width: 65%;
    }
    .create-room1{
        width: 65%;
    }
    }
    @media screen and (min-width:960px) {
    .create-room{
        width: 55%;
    }
    .create-room1{
        width: 55%;
    }
    }
    @media screen and (max-width:830px){
    #limessage{
            width: 80%;
    }
    #lisend{
            width: 20%;
    } 
    }
    @media screen and (max-width:600px){
    #limessage{
            width: 75%;
    }
    #lisend{
            width: 25%;
    } 
    #chat{
        width: 90%;
    }
    #titlebar{
        width: 90%;
    }
    }
    @media screen and (max-width:390px){
    #limessage{
            width: 70%;
    }
    #lisend{
            width: 30%;
    } 
    #chat{
        width: 100%;
    }
    #titlebar{
        width: 100%;
    }
    }
    @media screen and (max-width:330px){
        .white{
            font-size: small;
        }
    }
    @media screen and (min-width:1400px){
    #limessage{
            width: 80%;
    }
    #lisend{
            width: 20%;
    } 
    #chat{
        width: 85%;
    }
    #titlebar{
        width: 85%;
    }
    #buttons{
        margin-left: 80px;
    }
    }
    @media screen and (min-width:1600px){
    #limessage{
            width: 80%;
    }
    #lisend{
            width: 20%;
    } 
    #chat{
        width: 85%;
    }
    #titlebar{
        width: 85%;
    }
    #buttons{
        margin-left: 130px;
    }
    .create-room{
        width: 35%;
    }
    .create-room1{
        width: 35%;
    }
    }
    @media screen and (min-width:1900px){
    #limessage{
            width: 80%;
    }
    #lisend{
            width: 20%;
    } 
    #chat{
        width: 65%;
    }
    #titlebar{
        width: 65%;
    }
    #buttons{
        margin-left: 200px;
    }
    .white{
        font-size: x-large;
    }
    }
    @media screen and (min-width:2100px){
    #limessage{
            width: 80%;
    }
    #lisend{
            width: 20%;
    } 
    #chat{
        width: 50%;
    }
    #titlebar{
        width: 50%;
    }
    #buttons{
        margin-left: 230px;
    }
    }
    @media screen and (min-width:2200px){
    #limessage{
            width: 80%;
    }
    #lisend{
            width: 20%;
    } 
    #chat{
        width: 45%;
    }
    #titlebar{
        width: 45%;
    }
    #buttons{
        margin-left: 250px;
    }
    }
    @media screen and (min-width:2350px){
    #limessage{
            width: 80%;
    }
    #lisend{
            width: 20%;
    } 
    #chat{
        width: 35%;
    }
    #titlebar{
        width: 35%;
    }
    #buttons{
        margin-left: 270px;
    }
    }
    @media screen and (min-width:2500px){
    #limessage{
            width: 80%;
    }
    #lisend{
            width: 20%;
    } 
    #chat{
        width: 30%;
    }
    #titlebar{
        width: 30%;
    }
    #buttons{
        margin-left: 270px;
    }
    .create-room{
        width: 25%;
    }
    .create-room1{
        width: 25%;
    }
    }
    @media  screen and (max-width:856px) {
    #chatword{
        width: 70%;
    }
    }
    @media  screen and (max-width:693px) {
    #chatword{
        width: 65%;
    }
    }
    @media  screen and (max-width:536px) {
    #chatword{
        width: 60%;
    }
    }
    @media  screen and (max-width:470px) {
    #chatword{
        width: 50%;
    }
    }
    @media  screen and (max-width:330px) {
    #chatword{
        width: 40%;
    }
    }
</style>
<body>
    <!-- MENU BAR -->
     <nav class="navbar navbar-dark bg-dark shadow">
         <button type="button" class="hamburger"><img src="/hamburger.png"></button>
        <h1 class="white owner" style="display: block;">Welcome <%= data.ad%></h1>
        <button type="button" class="btn btn-success create" id="buttons">Create Your Chat Room</button>
        <button type="button" class="btn btn-success create yourrooms" id="buttons">Your Chat Rooms</button>
        <button type="button" class="btn btn-success create allrooms" id="buttons">All Chat Rooms</button>
        <button type="button" class="btn btn-success sign-out" id="buttons">Sign-Out</button>
      </nav>
        <ul class="hbuttons">
            <li><button type="button" class="btn btn-success create">Create Your Chat Room</button></li>
           <li><button type="button" class="btn btn-success create yourrooms">Your Chat Rooms</button></li>
           <li><button type="button" class="btn btn-success create allrooms">All Chat Rooms</button></li>
           <li><button type="button" class="btn btn-success sign-out">Sign-Out</button></li>
           </ul>
    <!------------------------------------------------------------------------------------->
   
    <!-- ALERTS AND SUCCESSES PART -->
    <% if (data.error!=false && data.situation == 'danger') { %>
    <div class="alert alert-danger middle" role="alert" id="middle"> <%= data.error %> </div>
    <script>
        let danger = document.getElementById("middle");
        setTimeout(() => {
            danger.style.display = 'none';
        }, 3000);
    </script>
        <% } %>
        <% if (data.error!=false && data.situation == 'success') { %>
            <div class="alert alert-success middle" role="alert" id="middle"> <%= data.error %> </div>
            <script>
                let danger = document.getElementById("middle");
                setTimeout(() => {
                    danger.style.display = 'none';
                }, 3000);
            </script>
                <% } %>

                <div class="alert alert-danger middle none" role="alert" id="middle"> THE ROOM IS FULL! </div>
    <!------------------------------------------------------------------------------------->

    <!-- CREATE ROOM BOX-->
    <nav class="navbar navbar-dark bg-dark create-room">
        <form id="form" method="post" action="/create-room">
            <h1 id="title" style="margin-top: 40px;">CREATE CHAT ROOM</h1>
            <div class="form-group">
              <label for="exampleInputEmail1" id="deneme" style=" margin-left: 50%; -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); margin-top: 60px;">Room-Name</label>
              <input type="name" class="form-control create-chat-name" style="width: 50%; margin: 0 auto;" placeholder="Enter Name" name="chatname">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" style=" margin-left: 50%; -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); margin-top: 30px;" id="deneme" >User-Amount</label>
                <input type="number" class="form-control amount" style="width: 50%; margin: 0 auto;" id="exampleInputPassword1" placeholder="Amount" name="memberamount" oninput="this.value = this.value.replace(/[^2-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
            </div>
            <button type="submit" class="btn btn-success createroom"id = "create">Create</button>
        </form>
    </nav> 
    <!-------------------------------------------------------------------------------------->
    
      
<!-- CHAT SCREEN-->
    <div id="titlebar">
        <p id = "chatword" class="username">CHATjjkasdjkabsdLKJDSJHAJSHDKAJSHDAKJSHDKAJHSDJKAHSDJKAHSDJKAHSDJAHDKAHSDJKHASJDHASJKDHAKJSHDAKJSHDAKJSHDKAJHSDKAJHSDKAJHSDKJASHDKJAHSDKAJSHDAKJSHDKAJHSDKJAH</p>
        <button type="button" class="btn btn-success leave" style="margin-left: auto; margin-right: 5px;">Leave Chat Room</button>
    </div>
    <div id="chat">
        <div id="isimler">
            <!-- <div class="alert alert-primary users" role="alert">
                This is a primary alert—check it out! asdasdasdasdasdsdDSADSDASDASDASDASDASDASDASDsdafsdfkalkdfjwljwljqwldqlkdasd329428304820348
              </div>
              <button type="button" class="btn btn-danger" id="deleteuser">Delete User</button> -->
        </div>
        <div id="chatscreen">
        <div id="chatitself" style="width: 100%; height: 90%;">
            <div class="alert alert-success"style = "width:100%; height:auto;"><p style="width: inherit; white-space: pre-wrap; word-wrap: break-word;">sdasdasdsdasdasdasdasdasdasdasdasdasdasdasdasdasdeweadad21231231231edsadasdasdasdadsadsasdasdadasdasdasdadsasdasdasdasdasd</p></div>
        </div>
        <ul style="padding-left: 0px;">
            <li id="limessage"><textarea name="chatmessage" cols="10" rows="10" style="resize: none; width: 100%; height: 55px; margin-top: 0px; border: solid 5px; border-top: 2px solid black;border-left: 2px solid black; border-right: 2px solid black;"></textarea></li>
            <li id="lisend"><button class="btn btn-success" style="height: 55px; width: 100%; border: solid 5px black; border-left: 2px solid black; border-top: 2px solid black;">Send</button></li>
        </ul>
        </div>
    </div>
    
    <!-- ----------------------------------------------------------------------->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <!-- -------------------------------------------------------------------------->
   
    <!--JAVASCRIPT-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="./homescript.js"></script>
</body>
</html>